body {
    
          background: yellow;
          background: -moz-linear-gradient(left, red 0%, yellow 100%); 
          background: -webkit-linear-gradient(left, red 0%, yellow 100%); 
          background: -o-linear-gradient(left, red 0%, yellow 100%); 
          background: -ms-linear-gradient(left, red 0%, yellow 100%); 
          background: linear-gradient(to right, red 0%,yellow 100%);
          padding-top: 54px;
          padding-top: 56px;
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
			
          background: yellow;
          background: -moz-linear-gradient(left, red 0%, yellow 100%); 
          background: -webkit-linear-gradient(left, red 0%, yellow 100%); 
          background: -o-linear-gradient(left, red 0%, yellow 100%); 
          background: -ms-linear-gradient(left, red 0%, yellow 100%); 
          background: linear-gradient(to right, red 0%,yellow 100%);
          padding-top: 54px;
          padding-top: 56px;
        }
      }
			
			/* styles for the detail page */
			#toyImage {
				padding-bottom: 10px;	
			}
			
			.panel-title {
				font-size: 14px;
				font-weight: 400;
				margin-right: 5px;
			}
			
			.panel-title > i{
				margin-right: 5px;
			}
			
			.panel-body {
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
			}
			
			#summary {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 10px;
				text-transform: none;
			}
			
			#disqus {
				margin-top: 30px;
			}