body {
  padding-top: 0px;
}
	@media (min-width: 992px) {
		body {
			padding-top: 0px;
			padding-bottom: 20px;
		}
    #my-final-table{
      width:100% !IMPORTANT;
    }
	}
#tableRow{
  margin:0px 15px;
  
}
.navbar {
	border-radius: 0px;
	min-height: 82px;
}


.navbar a,.navbar a:hover {
	color: #ffffff;
}

table {
	border: solid 0px #ccc;   
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

td, th {
	border-bottom: solid 1px #eee;
	border-top: solid 1px #ccc;
	border-left: solid 1px #eee;
	border-right: solid 1px #ccc;
	padding: 10px 15px;
}

th {
	background: #001ba2;
}

#donateBtn{
  float:right;
}

#example-ul, #ajax-ul {
	display: block;
	margin-top: 30px;
	border: solid 1px #ccc;
}

#data {
	visibility: hidden;
}

.dynatable-active-page {
	background: #001ba2;
}

#dynatable-processing-my-final-table{
	min-width: 100% !important;
}

#dynatable-query-search-my-final-table {
  
}

.bg-dark {
  background-color: #001ba2;
}

#logo { 
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	width: 75px;
	margin-right: 7px;
}

#my-final-table tr:nth-child(even) {
  background-color: #c6c6c6;
  width:100%;
}


/* Styles for detail modal */

#detailModal {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
}

.modal-content {
	height: auto !important;
	min-height: 100% !important;
	border-radius: 0;
}

#toyImage {
	padding-bottom: 10px;	
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #5d73b336;
	color: #49494b;
}

.panel-title {
	font-size: 14px;
	font-weight: 400;
	margin-right: 5px;
}

.panel-title > i{
	margin-right: 5px;
}

.panel-body {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

#summary {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
	text-transform: none;
}


